[submodule "ext/VSToolkit"]
	path = ext/VSToolkit
	url = git@github.com:vinisketch/VSToolkit.git
[submodule "ext/AnimatedTransition"]
	path = ext/AnimatedTransition
	url = git@github.com:dthevenin/AnimatedTransition.git
