[submodule "ext/VSToolkit"]
	path = ext/VSToolkit
	url = https://github.com/vinisketch/VSToolkit.git
[submodule "ext/AnimatedTransition"]
	path = ext/AnimatedTransition
	url = https://github.com/dthevenin/AnimatedTransition.git
